@charset "UTF-8";

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  src: url("fonts/webfonts/Mona-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  src: url("../fonts/webfonts/Mona-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  src: url("fonts/webfonts/Mona-Sans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mona Sans";
  font-style: normal;
  src: url("../fonts/webfonts/Mona-Sans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Bestermind";
  font-style: normal;
  src: url("fonts/webfonts/BestermindRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Bestermind";
  font-style: normal;
  src: url("../fonts/webfonts/BestermindRegular.ttf") format("truetype");
  font-weight: 400;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--White, #fff);
  font-family: "Inter";
  font-weight: 600;
  font-weight: 700;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

body._lock .header__index {
  background-color: rgba(0, 0, 0, 0.9);
}

.button {
  color: var(--White, #fff);
  border-radius: 40px;
  background: var(--primary, #fb7e3d);
  height: 40px;
  padding: 9.5px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background: var(--primary-hover, #ce6027);
}

.button:focus {
  background: var(--primary-hover, #ce6027);
}

.button__large {
  height: 52px;
  padding: 10px 32px;
}

.button--reverse {
  border-radius: 40px;
  gap: 8px;
  color: var(--primary, #fb7e3d);
  border: 1px solid var(--primary, #fb7e3d);
  background: var(--White, #fff);
  position: relative;
  z-index: 2;
}

.button--reverse:hover {
  border: 1px solid var(--primary-hover, #ce6027);
  color: var(--White, #fff);
}

.button--reverse:hover svg {
  stroke: var(--White, #fff);
}

.button--reverse:hover path {
  fill: var(--White, #fff);
  stroke: var(--White, #fff);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1156px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block,
._tabs-block-image {
  display: none;
}

._tabs-block._active,
._tabs-block-image._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  height: 80px;
  margin-bottom: -80px;
  background: var(--neutral-900, #181819);
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 508px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

.header__content div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  max-width: 249px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu > li {
  position: relative;
}

.header__menu a {
  color: var(--White, #fff);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--White, #fff);
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__menu a:hover:after {
  width: 100%;
}

.header__logo {
  max-width: 121px;
  position: relative;
  z-index: 4;
}

.icon-menu {
  display: none;
}

.header__index {
  position: relative;
  z-index: 11;
  background: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu {
  position: relative;
}

.header .header__svg {
  position: absolute;
  right: -30%;
  z-index: -1;
}

.icon-menu span,
.icon-menu:after,
.icon-menu:before {
  background-color: #fff !important;
}

.header select.bold-small {
  color: var(--White, #FFF);
  background: initial;
}

.footer {
  padding-top: 64px;
  padding-bottom: 50px;
  background: var(--neutral-900, #181819);
}

.footer__logo {
  max-width: 121px;
}

.footer__nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 244px;
  width: 100%;
}

.footer__link {
  color: var(--White, #fff);
  position: relative;
  text-decoration: none !important;
}

.footer__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:hover::after {
  width: 0;
}

.footer__link--gray {
  color: var(--neutral-400, #949197);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__link--gray::after {
  background-color: var(--neutral-400, #949197);
}

.footer__link--no-line::after {
  content: none;
}

.footer__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.footer__addres-wrapper {
  margin-bottom: 50px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.display-large {
  font-family: "Mona Sans";
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.8px;
}

.display-medium {
  font-family: "Mona Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.5px;
}

.display-small {
  font-family: "Mona Sans";
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.2px;
}

.headlines-xlarge {
  font-family: "Mona Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.64px;
}

.headlines-large {
  font-family: "Mona Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.56px;
}

.headlines-medium {
  font-family: "Mona Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.36px;
}

.headlines-small {
  font-family: "Mona Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.3px;
}

.body-large {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.bold-large {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.body-medium {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.bold-medium {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.body-small {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.bold-small {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.link-large,
.link-medium,
.link-small {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.link-medium {
  font-size: 16px;
}

.link-small {
  font-size: 14px;
}

.headlines-label {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 740px;
  background-image: url("../img/tyler-lastovich-ddLiNMqWAOM-unsplash 1.jpg");
  background-size: cover;
  position: relative;
  z-index: 10;
}

.hero-section__wrapper {
  height: calc(100% - 80px);
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 80px;
}

.hero-section__title-wrapper {
  max-width: 484px;
  margin-bottom: 16px;
}

.hero-section__text-wrapper {
  max-width: 445px;
  margin-bottom: 40px;
}

.hero-section__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 180px;
}

.hero-section__content-wrapper svg {
  margin-top: -10px;
}

.hero-section__content-wrapper svg:last-child {
  margin-left: -80px;
}

.hero-section .button {
  width: 100%;
  max-width: 180px;
}

section.solutions-section #solutions-section {
  scroll-margin-top: -80px;
}

.solutions-section {
  background: var(--neutral-50, #f2f1f2);
  margin: 0;
  height: auto;
}

.solutions-section__title-wrapper {
  padding-top: 128px;
  text-align: center;
  margin-bottom: 60px;
}

.solutions-section__title-wrapper h2 {
  color: var(--Black, #0c0c0d);
  margin-bottom: 8px;
}

.solutions-section__title-wrapper p {
  color: var(--neutral-400, #949197);
}

.solutions-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.4fr 1fr 1fr;
  padding-bottom: 128px;
  gap: 24px;
}

.solutions-section__grid-content {
  border-radius: 16px;
  padding: 32px;
  background: var(--White, #fff);
  position: relative;
}

.solutions-section__icon {
  width: 54px;
  height: 54px;
  margin-bottom: 10px;
}

.solutions-section__grid-content .headlines-small {
  color: var(--Black, #0c0c0d);
  margin-bottom: 4px;
  max-width: 270px;
}

.solutions-section__grid-content .body-small {
  color: var(--neutral-400, #949197);
  margin-bottom: 12px;
  max-width: 239px;
}

.solutions-section__grid-content:nth-child(4) .headlines-small {
  max-width: 275px;
}

.solutions-section__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modern-section {
  background: var(--Black, #0c0c0d);
  position: relative;
  padding-top: 160px;
  padding-bottom: 128px;
}

.modern-section .container {
  position: relative;
  z-index: 2;
}

.modern-section__immage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 80%;
}

.modern-section__title-wrapper {
  margin-bottom: 140px;
  text-align: center;
}

.modern-section__title-wrapper .headlines-xlarge {
  margin-bottom: 8px;
}

.modern-section__title-wrapper .body-large {
  color: var(--neutral-400, #949197);
}

.modern-section__text-wrapper .headlines-small {
  margin-top: 10px;
  margin-bottom: 4px;
}

.modern-section__text-wrapper {
  margin-bottom: 24px;
  max-width: 546px;
}

.modern-section__text-wrapper:last-child {
  margin-bottom: 0;
}

.modern-section__content-wrapper .body-small {
  color: var(--neutral-400, #949197);
}

.modern-section__image-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 670px;
  z-index: 3;
}

.modern-section__image-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  position: absolute;
  z-index: 4;
  right: 50%;
  top: 70%;
  -webkit-transform: translate(70%, 50%);
      -ms-transform: translate(70%, 50%);
          transform: translate(70%, 50%);
}

.build-section {
  background: var(--neutral-900, #181819);
  padding-block: 128px;
  position: relative;
}

.build-section .container {
  position: static;
}

.build-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.build-section__flex-left {
  max-width: 546px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.build-section__flex-left .body-large {
  color: var(--neutral-400, #949197);
  max-width: 395px;
  margin-top: 8px;
}

.build-section__grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 40px;
}

.build-section__grid .headlines-small {
  margin-top: 10px;
  margin-bottom: 4px;
}

.build-section__grid .body-small {
  color: var(--neutral-400, #949197);
}

.build-section__image {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  max-width: 841px;
}

.consulting-section {
  padding-block: 128px;
}

.consulting-section .headlines-xlarge {
  color: var(--Black, #0c0c0d);
  text-align: center;
  margin-bottom: 8px;
}

.consulting-section .body-large {
  color: var(--neutral-400, #949197);
  text-align: center;
  margin-bottom: 64px;
}

.consulting-section .tabs-block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid var(--neutral-150, #d7d6d8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.consulting-section .tabs-block__item {
  color: var(--neutral-600, #615e64);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  padding-bottom: 8px;
  position: relative;
}

.consulting-section .tabs-block__item._active {
  color: var(--neutral-900, #181819);
  font-weight: 600;
}

.consulting-section .tabs-block__item::after {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background: var(--primary, #fb7e3d);
}

.consulting-section .tabs-block__item._active::after {
  width: 100%;
}

.consulting-section .tabs-block__body {
  margin-top: 64px;
}

.consulting-section .headlines-medium {
  color: var(--neutral-900, #181819);
  margin-bottom: 8px;
}

.consulting-section .body-medium {
  color: var(--neutral-600, #615e64);
}

.consulting-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.consulting-section__flex img {
  max-width: 737px;
}

.map-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.37%, rgba(242, 241, 242, 0)), color-stop(60.46%, #f2f1f2));
  background: -o-linear-gradient(top, rgba(242, 241, 242, 0) 53.37%, #f2f1f2 60.46%);
  background: linear-gradient(180deg, rgba(242, 241, 242, 0) 53.37%, #f2f1f2 60.46%);
  position: relative;
}

.map-section a .bold-medium {
  color: var(--White, #fff);
}

.map-section .container {
  padding-block: 128px;
  position: relative;
}

.map-section__image {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.map-section .headlines-xlarge {
  color: var(--Black, #0c0c0d);
  margin-bottom: 12px;
}

.map-section .body-medium {
  color: var(--neutral-600, #615e64);
  margin-bottom: 24px;
}

.map-section__text-wrapper {
  max-width: 451px;
  margin-bottom: 100px;
}

.map-section__text-wrapper a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

.button.button__large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.map-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-section__content:nth-child(2) .map-section__flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.map-section__flex svg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.map-section .bold-medium {
  color: var(--Black, #0c0c0d);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.map-section .button__large.bold-medium {
  color: var(--White, #fff);
}

.map-section .body-small {
  color: var(--neutral-600, #615e64);
}

.map-section__content {
  max-width: 261px;
}

.market-section {
  background: var(--neutral-900, #181819);
}

.market-section__top-content {
  padding-block: 128px;
}

.market-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 32px;
}

.market-section__flex-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  position: absolute;
  left: 50%;
  bottom: -90px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.market-section__flex-content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 354px;
}

.market-section__flex-content svg {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(60%, 5%);
      -ms-transform: translate(60%, 5%);
          transform: translate(60%, 5%);
  z-index: 1;
}

.market-section__flex-content:first-child svg {
  -webkit-transform: translate(0%, 30%);
      -ms-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
}

.market-section__flex-content .headlines-large {
  position: relative;
  z-index: 2;
}

.market-section__flex-content .body-large {
  max-width: 280px;
  color: var(--neutral-300, #afadb1);
}

.market-section__flex-content:nth-child(2) .body-large {
  margin-inline: auto;
}

.market-section__flex-content:last-child .body-large {
  margin-left: auto;
}

.market-section__block {
  border-radius: 10.437px;
  background: #29292a;
  padding: 15.55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.44px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.market-section__bottom-content {
  position: relative;
  padding-bottom: 80px;
}

.market-section__bottom-content img {
  min-height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1116px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.market-section__bottom-content .market-section__flex {
  position: absolute;
  bottom: -90px;
  left: 0;
  margin: 0;
  gap: 15px;
  z-index: 10;
}

.market-section__orange-block {
  border-radius: 5.218px;
  background: var(--primary, #fb7e3d);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.2px;
  -webkit-box-shadow: 0px 2.609px 5.218px 0px rgba(0, 0, 0, 0.12), 0px 10.437px 20.874px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2.609px 5.218px 0px rgba(0, 0, 0, 0.12), 0px 10.437px 20.874px 0px rgba(0, 0, 0, 0.08);
}

.market-section__blue-block {
  border-radius: 5.218px;
  background: var(--secondary, #029dfa);
  padding: 15px;
  -webkit-box-shadow: 0px 2.609px 5.218px 0px rgba(0, 0, 0, 0.12), 0px 10.437px 20.874px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2.609px 5.218px 0px rgba(0, 0, 0, 0.12), 0px 10.437px 20.874px 0px rgba(0, 0, 0, 0.08);
}

.market-section__block h5 {
  color: var(--White, #fff);
  font-family: "Inter";
  font-size: 10.437px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.market-section__block p {
  color: var(--White, #fff);
  font-family: "Inter";
  font-size: 9.132px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.market-section__block a p {
  text-decoration: underline;
}

.about-section {
  padding-top: 200px;
  padding-bottom: 128px;
}

.about-section .headlines-xlarge {
  color: var(--Black, #0c0c0d);
  text-align: center;
}

.about-section .body-large {
  color: var(--neutral-400, #949197);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.about-section .body-medium {
  color: var(--neutral-600, #615e64);
  text-align: center;
}

.about-section__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.about-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-inline: 32px;
  max-width: 355px;
  gap: 8px;
}

.about-section__content:nth-child(2) {
  padding-inline: 31px;
}

.about-section__content .body-medium {
  max-width: 291px;
}

.bg-section img {
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-section {
  background: var(--neutral-50, #f2f1f2);
  padding-block: 128px;
  position: relative;
}

.contact-section__text {
  color: var(--neutral-900, #181819);
  font-family: "Bestermind";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 24px;
}

.contact-section__content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-section__content-wrapper--left {
  position: relative;
}

.contact-section__content-wrapper--left svg {
  position: absolute;
  top: -20px;
  right: 50%;
  -webkit-transform: translate(60%, 0px);
      -ms-transform: translate(60%, 0px);
          transform: translate(60%, 0px);
}

.contact-section__content-wrapper--right {
  border-radius: 16px;
  background: var(--White, #fff);
  padding: 32px;
  max-width: 451px;
}

.contact-section__content-wrapper--right label {
  color: var(--neutral-900, #181819);
  margin-bottom: 4px;
  display: block;
}

.contact-section__input-wrapper input,
.contact-section__input-wrapper textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--neutral-150, #d7d6d8);
  background: var(--Neutral-0, #fff);
  padding: 8px;
  height: 100%;
}

.contact-section__input-wrapper input {
  height: 40px;
}

.contact-section__input-wrapper textarea {
  max-height: 168px;
}

.contact-section__chekbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-section__chekbox-wrapper div {
  position: relative;
}

.contact-section__chekbox-wrapper input[type=checkbox] {
  height: 15px;
  width: 15px;
  margin: 1px;
}

.contact-section__chekbox-wrapper label {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin: 1px;
  border-radius: 2.4px;
  border: 1.5px solid var(--neutral-900, #181819);
}

.contact-section__chekbox-wrapper .body-small,
.contact-section__chekbox-wrapper .body-small a {
  color: var(--neutral-900, #181819);
}

.contact-section__chekbox-wrapper .body-small a {
  position: relative;
}

.contact-section__chekbox-wrapper .body-small a::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--neutral-900, #181819);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-section__chekbox-wrapper .body-small a:hover::after {
  width: 0;
}

.contact-section__content-wrapper .body-medium::-webkit-input-placeholder {
  color: var(--neutral-500, #79767d);
}

.contact-section__content-wrapper .body-medium::-moz-placeholder {
  color: var(--neutral-500, #79767d);
}

.contact-section__content-wrapper .body-medium:-ms-input-placeholder {
  color: var(--neutral-500, #79767d);
}

.contact-section__content-wrapper .body-medium::-ms-input-placeholder {
  color: var(--neutral-500, #79767d);
}

.contact-section__content-wrapper .body-medium::placeholder {
  color: var(--neutral-500, #79767d);
}

.contact-section__input-wrapper,
.contact-section__chekbox-wrapper {
  margin-bottom: 16px;
}

.contact-section__chekbox {
  margin: 2px;
}

.contact-section__bg {
  position: absolute;
  top: -40px;
  right: 0;
}

.contact-section__content-wrapper .headlines-label {
  color: var(--secondary, #029dfa);
  margin-bottom: 8px;
}

.contact-section__content-wrapper .display-medium {
  color: var(--neutral-900, #181819);
  max-width: 450px;
  margin-bottom: 8px;
}

.contact-section__content-wrapper--left .contact-section__title-wrapper .body-medium {
  color: var(--neutral-600, #615e64);
  max-width: 546px;
  margin-bottom: 38px;
}

.contact-section__content-wrapper--left .bold-medium,
.contact-section__content-wrapper--left .body-medium {
  color: var(--neutral-900, #181819);
}

.logo-section__container {
  padding-block: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 14px;
  max-width: 1075px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-section__container svg {
  width: auto;
}

.nearshore-section {
  padding-block: 64px;
}

.nearshore-section .display-small {
  color: var(--Black, #0c0c0d);
  margin-bottom: 32px;
}

.nearshore-section .headlines-xlarge {
  color: var(--Black, #0c0c0d);
  margin-bottom: 16px;
}

.nearshore-section .body-medium {
  color: var(--Black, #0c0c0d);
  margin-bottom: 32px;
}

.nearshore-section .body-medium a {
  color: var(--secondary, #029dfa);
}

.nearshore-section__link {
  position: relative;
}

.nearshore-section .headlines-medium {
  color: var(--Black, #0c0c0d);
}

.nearshore-section__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--secondary, #029dfa);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nearshore-section__link:hover::after {
  width: 0;
}

.nearshore-section .headlines-small {
  color: var(--Black, #0c0c0d);
  margin-top: 16px;
  margin-bottom: 8px;
}

.nearshore-section ul .body-medium {
  color: var(--Black, #0c0c0d);
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.nearshore-section ul .body-medium:last-child {
  margin-bottom: 0;
}

.nearshore-section ul .body-medium svg {
  height: 16px;
  width: 16px;
}

.flex-section {
  padding-block: 64px;
  background: var(--neutral-50, #f2f1f2);
}

.flex-section__image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 496px;
  position: relative;
}

.flex-section__image {
  border-radius: 16px;
}

.flex-section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-section__content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 474px;
}

.flex-section .headlines-label {
  color: var(--primary, #fb7e3d);
  margin-bottom: 8px;
}

.flex-section .headlines-xlarge {
  color: var(--Black, #0c0c0d);
  margin-bottom: 16px;
}

.flex-section .body-large {
  color: var(--Black, #0c0c0d);
  margin-bottom: 16px;
}

.flex-section .headlines-small {
  color: var(--Black, #0c0c0d);
  margin-bottom: 8px;
}

.flex-section .body-medium {
  color: var(--Black, #0c0c0d);
  margin-bottom: 4px;
}

.flex-section .body-medium:last-child {
  margin-bottom: 0;
}

.flex-section__image-wrapper .body-small {
  color: var(--neutral-500, #79767d);
  text-align: center;
  position: absolute;
  bottom: -29px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 100%;
}

.text-section {
  padding-block: 64px;
}

.text-section__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.text-section__content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--secondary, #029dfa);
}

.text-section__content-wrapper {
  color: var(--Black, #0c0c0d);
}

.text-section__content-wrapper .headlines-label {
  color: var(--primary, #fb7e3d);
}

.text-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.text-section__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.text-section__button-wrapper:last-child {
  margin-bottom: 0;
}

.text-section__button {
  width: 100%;
  max-width: 78px;
}

.text-section__button-wrapper:nth-child(2) .text-section__button {
  background: var(--primary-hover, #ce6027);
}

.text-section__button-wrapper:nth-child(2) .text-section__button:hover {
  background: var(--primary-hover, #ce6027);
}

.text-section__button-wrapper:last-child .text-section__button {
  opacity: 0.3;
}

.text-section__button-wrapper:last-child .text-section__button:hover {
  background: var(--primary, #fb7e3d);
}

.small-section {
  padding-block: 64px;
  background: var(--neutral-50, #f2f1f2);
}

.small-section__image {
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 200px;
}

.small-section .body-small {
  color: var(--neutral-500, #79767d);
  margin-top: 9px;
  text-align: center;
}

.bg-section--demo {
  margin-top: 80px;
}

.path {
  fill: #029dfa;
  -webkit-transition: fill 0.03s;
  -o-transition: fill 0.03s;
  transition: fill 0.03s;
}

.button--reverse {
  max-width: 88px;
}

#contact-section,
#solutions-section,
#modern-section,
#about-section,
#build-section,
#consulting-section,
#map-section {
  scroll-margin-top: 80px;
}

@media (min-width: 768px) {
  .map-section {
    max-height: 960px;
  }

  .map-section__image {
    max-height: 960px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .small-section__image {
    min-height: 443px;
  }
}

@media (min-width: 1025px) {
  .solutions-section__grid-content:first-child {
    grid-area: 1/1/3/3;
    max-height: 411px;
  }

  .solutions-section__grid-content:nth-child(2) {
    grid-area: 1/3/3/4;
    max-height: 411px;
  }

  .solutions-section__grid-content:nth-child(3) {
    grid-area: 1/4/3/5;
    max-height: 411px;
  }

  .solutions-section__grid-content:nth-child(4) {
    grid-area: 3/1/4/3;
    max-height: 278px;
  }

  .solutions-section__grid-content:nth-child(5) {
    grid-area: 3/3/4/5;
    max-height: 278px;
  }
}

@media (min-width: 1600px) {
  .modern-section__image-wrapper {
    max-width: 45%;
  }
}

@media (min-width: 1750px) {
  .build-section__image {
    max-width: 1041px;
  }
}

@media (min-width: 2000px) {
  .market-section__bottom-content img {
    max-width: 1506px;
  }
}

@media (min-width: 2100px) {
  .build-section__image {
    bottom: 0;
    top: auto;
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    max-width: 50%;
  }
}

@media (max-width: 1320px) {
  .build-section__image {
    max-width: 55%;
  }
}

@media (max-width: 1260px) {
  .hero-section__content-wrapper {
    width: 100%;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .consulting-section__flex img {
    max-width: 637px;
  }

  .flex-section__flex {
    gap: 32px;
  }
}

@media (max-width: 1150px) {
  .modern-section__image-wrapper {
    position: relative;
    margin-left: auto;
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .hero-section__content-wrapper svg {
    max-width: 150px;
    height: auto;
    margin-top: 0;
  }

  .hero-section__content-wrapper svg:last-child {
    margin-left: -60px;
  }

  .solutions-section__grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 64px;
  }

  .solutions-section__grid-content:nth-child(5) {
    grid-area: 3/1/4/3;
  }

  .solutions-section__image-wrapper {
    position: static;
    width: 50%;
    margin-left: auto;
    margin-bottom: -32px;
    margin-right: -32px;
  }

  .solutions-section__grid-content:last-child img {
    margin-top: -200px;
  }

  .modern-section__title-wrapper {
    margin-bottom: 100px;
  }

  .modern-section__text-wrapper {
    max-width: 100%;
  }

  .consulting-section__flex img {
    max-width: 537px;
  }

  .market-section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .market-section__flex-grid {
    grid-template-columns: repeat(2, 1fr);
    bottom: -80px;
  }

  .market-section__flex-content .body-large {
    text-align: center;
  }

  .market-section__bottom-content {
    padding-bottom: 340px;
  }

  .about-section__content {
    padding-inline: 16px;
  }

  .about-section__content:nth-child(2) {
    padding-inline: 16px;
  }

  .logo-section__container svg {
    max-height: 28px;
  }

  .flex-section__image-wrapper {
    max-width: 100%;
  }

  .flex-section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 52px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .hero-section__title-wrapper {
    max-width: 100%;
  }

  .hero-section__text-wrapper {
    max-width: 100%;
  }

  .hero-section__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero-section__content-wrapper svg {
    max-width: 100px;
  }

  .hero-section__content-wrapper svg:last-child {
    margin-left: -30px;
  }

  .solutions-section__title-wrapper {
    padding-top: 64px;
    margin-bottom: 30px;
  }

  .consulting-section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .consulting-section__flex img {
    max-width: 100%;
  }

  .contact-section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-section__content-wrapper--right {
    max-width: 650px;
  }

  .logo-section__container svg {
    max-height: 24px;
  }

  .nearshore-section {
    padding-block: 32px;
  }

  .nearshore-section .display-small {
    margin-bottom: 16px;
  }

  .nearshore-section .body-medium {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .footer__nav-content {
    margin-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .footer__link.footer__link--gray {
    text-align: center;
  }

  .footer__addres-wrapper {
    margin-bottom: 24px;
  }

  .footer__flex {
    gap: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .display-medium {
    font-size: 40px;
  }

  .display-small {
    font-size: 30px;
  }

  .headlines-xlarge {
    font-size: 26px;
  }

  .headlines-large {
    font-size: 22px;
  }

  .headlines-medium {
    font-size: 20px;
  }

  .headlines-small {
    font-size: 18px;
  }

  .body-large {
    font-size: 16px;
  }

  .bold-large {
    font-size: 16px;
  }

  .body-medium {
    font-size: 15px;
  }

  .bold-medium {
    font-size: 15px;
  }

  .link-large,
  .link-medium,
  .link-small {
    font-size: 16px;
  }

  .link-medium {
    font-size: 15px;
  }

  .link-small {
    font-size: 14px;
  }

  .solutions-section__grid {
    gap: 12px;
  }

  .solutions-section__grid-content {
    padding: 12px;
  }

  .solutions-section__grid-content .headlines-small {
    max-width: 100%;
  }

  .solutions-section__grid-content .body-small {
    max-width: 100%;
  }

  .solutions-section__image-wrapper {
    margin-bottom: -12px;
    margin-right: -12px;
  }

  .solutions-section__grid-content:last-child img {
    margin-top: 0;
  }

  .modern-section {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .modern-section__title-wrapper {
    margin-bottom: 50px;
  }

  .build-section {
    padding-block: 64px;
  }

  .build-section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .build-section__grid {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }

  .build-section__image {
    max-width: 80%;
    position: static;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .consulting-section {
    padding-block: 64px;
  }

  .consulting-section .body-large {
    margin-bottom: 32px;
  }

  .consulting-section .tabs-block__nav {
    gap: 20px;
    row-gap: 12px;
  }

  .consulting-section .tabs-block__body {
    margin-top: 32px;
  }

  .map-section .container {
    padding-block: 64px;
  }

  .map-section__text-wrapper {
    margin-bottom: 50px;
  }

  .map-section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .market-section__top-content {
    padding-block: 64px;
  }

  .market-section__flex-content svg {
    display: none;
  }

  .market-section__flex-content:first-child svg {
    display: none;
  }

  .market-section__block {
    padding: 8px;
    gap: 5px;
  }

  .market-section__bottom-content {
    padding-bottom: 250px;
  }

  .market-section__bottom-content .market-section__flex {
    gap: 8px;
  }

  .market-section__orange-block {
    padding: 8px;
  }

  .market-section__blue-block {
    padding: 8px;
  }

  .about-section {
    padding-top: 150px;
    padding-bottom: 64px;
  }

  .about-section .body-large {
    margin-bottom: 16px;
  }

  .about-section__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-section__content {
    padding-inline: 0;
  }

  .about-section__content:nth-child(2) {
    padding-inline: 0;
  }

  .about-section__content .body-medium {
    max-width: none;
  }

  .contact-section {
    padding-block: 64px;
  }

  .contact-section__text {
    font-size: 25px;
  }

  .contact-section__content-wrapper--right {
    padding: 16px;
  }

  .logo-section__container {
    padding-block: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex-section {
    padding-block: 32px;
  }

  .text-section {
    padding-block: 32px;
  }

  .text-section__content-wrapper {
    gap: 32px;
  }

  .small-section {
    padding-block: 32px;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    max-width: 100%;
  }

  .header__menu {
    display: block;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);
  }

  .header__menu > li {
    padding: 0;
    margin-bottom: 30px;
  }

  .header__menu > li:last-child {
    margin-bottom: 0;
  }

  .header__menu a {
    color: #fff;
    font-size: 2rem;
  }

  .header__menu.active {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1d1d1f;
  }

  .icon-menu:before,
  .icon-menu:after {
    content: " ";
  }

  .icon-menu:before {
    top: 0px;
  }

  .icon-menu:after {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 767px) {
  .header__content-wrapper {
    width: auto;
  }
}

@media (max-width: 600px) {
  .solutions-section__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .solutions-section__grid-content:nth-child(5) {
    grid-area: auto;
  }

  .modern-section__image-flex {
    -webkit-transform: translate(100%, 50%);
        -ms-transform: translate(100%, 50%);
            transform: translate(100%, 50%);
  }
}

@media (max-width: 500px) {
  .header__content {
    gap: 10px;
  }

  .map-section__grid {
    gap: 20px;
  }

  .market-section__bottom-content {
    padding-bottom: 300px;
  }
}

@media (max-width: 400px) {
  .icon-menu {
    max-width: 20px;
    height: 16px;
  }

  .header__logo {
    max-width: 90px;
  }

  .contact-section__chekbox-wrapper .body-small a {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }

  .contact-section__chekbox-wrapper .body-small a::after {
    content: none;
  }
}